<div class="row">
  <div class="col-sm-12"><h6>User details</h6></div>
</div>
<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName"
                  #firstName (firstName)="user.firstName=firstName.value">
          </div>

          <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName">
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email">
          </div>
        </div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!userForm.valid">Save</button>
      <button class="btn btn-danger mx-1" type="button" (click)="onDelete()" [disabled]="!user">Delete</button>
      <button class="btn btn-secondary mx-1" type="button" (click)="goBack()">Cancel</button>
      <button class="btn btn-secondary" type="button" (click)="onReset()">Reset</button>

    </form>
    <div class="alert mt-2"
         *ngIf="creationSuccess !== null"
         [ngClass]="{'alert-success': creationSuccess, 'alert-danger': !creationSuccess}">
      {{creationMessage}}
    </div>

  </div>

  <div class="col-sm-12"></div>
</div>

