@media (max-width: 576px) {
    .display-sm-none {
        display: none !important;
    }

    .btn-sm-container{
        width:100%;
    }
    .btn-sm-block{
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
}

.select-overflow {
    max-height: 200px;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 200px;
}

.custom-combobox_old {
    position: relative;
    display: inline-block;
    /*margin-right: auto;*/
    width: 85%;
    padding-bottom: 2px;
    white-space: nowrap; /* one line: no wrap*/
}

.custom-combobox {
    /*position: absolute;
    left: 0px;
    right: 40px;
    display: inline-block;
    padding-bottom: 2px;*/
    width: 100%;
    white-space: nowrap; /* one line: no wrap*/
}

.custom-combobox.is-invalid {
    border: 1px solid;
    border-color:#dc3545;
}

.custom-combobox.is-valid {
    padding: 1px;
    border: 1px solid;
    border-color:#28a745;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
    width: 100%
}
.custom-combobox-button {
    border:0;
    left: -30px;
    height: 90%;
}

