@media (max-width: 576px) {
    .display-sm-none {
        display: none !important;
    }

    .btn-sm-container{
        width:100%;
    }
    .btn-sm-block{
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
}

.select-overflow {
    max-height: 200px;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 200px;
}

.custom-combobox {
    position: relative;
    display: inline-block;
    /*margin-right: auto;*/
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}
.custom-combobox-button {
    height: 100%;
}
