.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 80px;
    height: 80px;
    margin-left: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader_color {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid blue;
    border-right: 12px solid green;
    border-bottom: 12px solid red;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader_multi {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    width: 80px;
    height: 80px;
    margin-left: 50px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.viewport-centred{
/*    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)*/
    /*Better use flexbox*/
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.overlay-white{
    color: white;
    padding: 10px;
    /*display: block;*/
    width: max-content;
    text-align: center;
    margin-left: 30%;
}