<!-- Logo and top menu not for mobile -->
<!-- Top menu BEGIN -->
<!-- Top menu end END -->
<!-- main menu for desktop and mobile with toggle function -->
<!-- main menu begin -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <!-- brand -->
    <a class="navbar-brand" routerLink="">E-User</a>
    <!-- Toggler -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#m2"
            aria-controls="m2" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="sr-only">Toggle Navigation</span>
      <span class="bar-top"></span>
      <span class="bar-middle"></span>
      <span class="bar-bottom"></span>
    </button>

    <!-- collapsable for mobile menu -->
    <div class="collapse navbar-collapse left-align" id="m2">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink=""><i class="fa fa-home fa-fw" aria-hidden="true"></i>&#xa0;Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="user"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&#xa0;User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&#xa0;Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="animate"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i>&#xa0;Animate</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-success" (click)="showOverlay()">Overlay</button>
        </li>
      </ul>

        <ul class="navbar-nav ml-auto">
          <li class="divider"></li>
          <li *ngIf="!userLoggedIn"><a class="nav-link"  routerLink="signin" ><span class="fa fa-sign-in"></span> Sign In</a></li>
          <li *ngIf="userLoggedIn" ><a class="nav-link" style="cursor: pointer" (click)="signOut()"><span class="fa fa-sign-out"></span> Sign out</a></li>
          <li *ngIf="!userLoggedIn"><a class="nav-link"  routerLink="signup" ><span class="fa fa-user"></span> Sign up</a></li>
        </ul>

    </div>
  </div>
</nav>
<!-- main menu end -->
